article.cardComponent {
  display: flex;
  margin: 15px 7.5px 15px;
}

.cardComponent span {
  background-color: #4c5baf;
  color: #fff;
  width: 40px;
  border-radius: 8px 0 0 8px;
  box-shadow: 2px 2px 5px #323232c4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.cardComponent div {
  border-radius: 0 8px 8px 0;
  padding: 10px 0 10px 10px;
  box-shadow: 2px 2px 5px #323232c4;
  width: 100%;
  color: #4c5eaf;
}

.cardComponent p {
  margin-bottom: 2px;
}

.cardComponent p:last-child {
  margin-bottom: 0;
}

.cardComponent p:last-child {
  color: #2196f3;
}

.cardComponent.negative span {
  background-color: #c62828;
}

.cardComponent.negative p {
  color: #c62828;
}

.cardComponent.negative p:last-child {
  color: #ff9800;
}
